body{
    background-color: rgb(211, 238, 238);
}
.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vw;
}

.cards{
    border: 1px solid none;
    background-color: white;
    border-radius: 10px;
    width: 36%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card{
    padding: 60px 70px 70px 70px;
    flex-direction: column;
    align-items: start;
    font-family:Arial, Helvetica, sans-serif;
}

#submit{
    width: 100%;
    border: none;
    background-color: rgb(114, 34, 189);
    color: white;
    height: 60px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-top: none;
    font-size: larger;
    cursor: pointer;
}
.question{
    display: flex;
    justify-content: center;
    text-align: center;
}
.form input{
    margin: 15px;
}

.form label{
    font-size: 20px;
}