body{
    margin: 0%;
    padding: 0%;
}

#page{
    display: flex;
    justify-content: center;
    align-items: center ;
    padding-top: 48%;
    height: 4vw;
    width: 100vw;
}

.buttons{
    background-color: white;
    display: flex;
    gap: 20px;
    border: none;
    box-shadow: 10px 10px 10px rgb(182, 182, 182);
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 5%;
}